<div class="title_container">
  <h1 id="comics">All Comics</h1>
</div>
<div class="welcome_container">
<ul style="list-style-type:none">
   <% @comic.each do |comic| %>
   <li>
     <hr class="style18">
     <div class="row">
       <div class="col-md-3">
           <%= image_tag(comic.cover.url(:thumb))%>
       </div>
       <div class="col-md-1">
       </div>
       <br>
       <div class="col-md-8">
         <h4 id="marker"><%= comic.title %></h4>
         <b>by <%= comic.user.email %> |</b>
         <%= link_to "Read it!", comic_path(comic) %>
       </div>
   </li>
   <% end %>
 </ul>
 <br>
 <br>
 <div class="right">
   <button class="btn btn-lg btn-primary"><%= link_to "Create a comic", new_comic_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
 </div>

 </div>
