

<h1 id="comics">Ink About It</h1>

<div class="container">

<ul style="list-style-type:none">
  <h2>Available Comics:</h2>
   <% @comic.each do |comic| %>
   <li>
     <div class="well">
       <b><%= comic.title %></b>
       <br>
       <b><%= comic.user.email %></b>
       <%= image_tag(comic.cover.url(:thumb)) %>
       <br>
      <%= link_to "Check it out", comic_path(comic) %>

   </li>
   <% end %>
 </ul>


   <button class="btn btn-info"><%= link_to "Create a comic", new_comic_path %></button>

 </div>
