<div class="title_container">
  <h1><%=@comic.title%></h1>
</div>
<div class="cover">
  <%= image_tag(@comic.cover.url(:original)) %>
</div>
<div class="title_container">
  <h1>By <%=@comic.user.email%></h1>
</div>
<br>
<br>

  <button class="btn btn-info"><%= link_to "Go Back to All Comics", comics_path %></button>
<br><br>

  <button class="btn btn-info"><%= link_to "Edit Comic", edit_comic_path(@comic) %></button>
