<!DOCTYPE html>
<html>
  <head>
    <title>Ink-About-It</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('Comic_Icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/menu" %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
